grant codeBase  "file:${user.dir}/bin/"{
      permission java.io.FilePermission "C:\\Users\\ifc\\git\\ProgramacionPS\\UD_05_Seguridad\\P05_Seguridad\\Ficheros\\*", "read, write";
};